### Client Production Environment ###
VITE_API_URL=https://marrakechdunes-sppy.onrender.com/api
VITE_ASSETS_BASE=https://marrakechdunes-sppy.onrender.com/assets
VITE_MAP_PROVIDER=iframe
VITE_LEAFLET_ENABLED=false
