### API Configuration ###
VITE_API_URL=https://marrakechdunes-sppy.onrender.com
VITE_ASSETS_BASE=https://marrakechdunes-sppy.onrender.com/assets

### Map Configuration ###
VITE_MAP_PROVIDER=iframe    # iframe or leaflet
VITE_LEAFLET_ENABLED=false  # true if you want leaflet
